<% if @projects.present? %>
  <h2 style="margin-bottom: 40px;">Your Projects</h2>
  <p id="notice"><%= notice %></p>

  <div id='projects'>  
    <% @projects.each do |project| %>
        <h3 style="margin-top: 30px;"><%= "#{project.name}" %></h3>
        <h5><%= "Rate: $#{project.hourly_rate}/hour" %></h5>
        <%= link_to "Add a task for this project" %>
        <br>
    <% end %>
  </div>
<% elsif current_user.projects == [] %>
  <h2>Your Projects</h2><br>
  <%= link_to 'Add a Project', new_user_project_path(current_user) %>
<% end %>
