<div class="flex-row" style="margin-bottom: 40px; margin-right: 300px;">
  <h2><%= "Your Tasks" %></h2>
  <%= form_tag(user_tasks_path, :method => "get", id: "dropdown-form") do %>
    <%= select_tag :month, options_for_select(Task::MONTHS.collect.with_index.to_a, selected: params[:month]), onchange: 'this.form.submit()', include_blank: 'Select a month' %>
  <% end %>
</div>

<% total_payment = 0 %>

<% @projects.each do |project| %>

  <table class= "table">
    <thead>
      <h4><%= project.name %></h4>
      <tr>
        <th>Task Name</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Number of Hours</th>
        <th>Hourly Rate</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    
    <tbody>
      <% all_tasks(project).reverse.each do |task| %>
        <% task_hours = ((task.end_time - task.start_time) / 3600).round(1) %>
        <tr>
          <td><%= task.name %></td>
          <td><%= task.date.strftime("%d-%m-%Y") %></td>
          <td><%= task.start_time.strftime("%I:%M %p") %></td>
          <td><%= task.end_time.strftime("%I:%M %p") %></td>
          <td><%= task_hours %></td>
          <td><%= project.hourly_rate %></td>
          <td><%= (((task.end_time - task.start_time) / 3600).round(1)) * project.hourly_rate %></td>
          <td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% total_hours = 0 %>
  <% all_tasks(project).each do |task| %>
    <% total_hours += ((task.end_time - task.start_time) / 3600).round(1) %>
  <% end %>

    <div class="flex-row" style="margin-right: 300px; margin-bottom: 50px;">
      <h4>Total hours: <%= total_hours.round(1)  %></h4>
      <h4>Hourly rate: $<%= project.hourly_rate %></h4>
      <h4>Project total: $<%= (total_hours.round(1) * project.hourly_rate).round %></h4>
    </div>

    <% total_payment += (total_hours.round(1) * project.hourly_rate).round %>

<% end %>

<h3>Total payment: $<%= total_payment %></h3>
